/*
==============================
BANNER
==============================
*/
.img_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
    background-size: auto;
}

#seccion-banner {
    background-color: #f4f4f4;
    position: relative;
}

#banner_nav_pestañas {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    z-index: 5;
}


#banner_nav_pestañas nav{
   position: relative;
   background-color: rgba(0, 0, 0, 0.5);
   min-height: 60px;
}

#banner_nav_pestañas a{
   color: white;
   font-weight: bold;
}

.uk-navbar-dropdown-nav li a{
   color: black !important;
   font-weight: 300 !important;
}

.flechas-scroll-down{
    left: 50%;
                opacity: 0;
}

@keyframes scrolldown {
    0%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
    50%{
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }
    100%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}

/*
==============================
SECCION CANALES ESPECIALES
==============================
*/
#seccion-canales-especiales {
    background-color: #fbe6d4;

}

/*
==============================
SECCION PROMO CANALES ESPECIALES
==============================
*/
#seccion_promo_canales {
    background-color: #fbe6d4;
}


/*
==============================
SECCION BENEFICIOS
==============================
*/
#seccion-beneficios {
    background-color: #ffffff;
}


#selectorPildora-seccion-beneficios a {
    color: #2f2519;
}

#contenedor-pildoras-seccion-beneficios a {
    border: none;
}

#contenedor-pildoras-seccion-beneficios a:hover {
    background-color: #FF6D33;
    color: white;
}

#contenedor-pildoras-seccion-beneficios .uk-subnav-pill .uk-active a {
    background-color: #FF6D33;
    color: white;
    border: none 0px;
}

/*
==============================
PRECIOS
==============================
*/
#seccion-precios {
    background-color: white;
}

.subnav-precios li a{
    padding-right: 1.4em !important;
    padding-left: 1.4em !important;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}

.subnav-precios li a:focus{
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    padding-right: 1.4em !important;
    padding-left: 1.4em !important;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-weight: 600;
}

.subnav-precios li a:hover{
    color: orange;
}

#foto-bg-precio{
    width: 100vw;
}

/*
==============================
LOGO FORMAS DE PAGO
==============================
*/
#seccion-logos-pagos {
    background-color: #fbe6d4;
}